.achtergrond{
    margin-top: 0px;
    background: url('../../assets/background4.jpg') repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 79vh;
}

.buffer{
    margin-top: 22px;
}

.linkje{
    font-family: Marvin;
}
