
.topplaatje2 {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../assets/sliderplaatjes/header02.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    line-height: 1.5;
}

.topplaatje3 {
    position: relative;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../assets/sliderplaatjes/header11.jpg');
    background-size: cover;
    color: white;
    line-height: 1.5;
}

.topplaatje7 {
    position: relative;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../assets/sliderplaatjes/header07.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    line-height: 1.5;
}

.topplaatje8 {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../assets/sliderplaatjes/header08.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    line-height: 1.5;
}


.topplaatje10 {
    position: relative;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../assets/sliderplaatjes/header10.jpeg') no-repeat center center;
    background-size: cover;
    color: white;
    line-height: 1.5;
}


.topplaatje12 {
    position: relative;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../assets/sliderplaatjes/header12.jpg') no-repeat center;
    background-size: cover;
    color: white;
    line-height: 1.5;
}
