.achtergrond{
    margin-top: 0px;
    background: url('../assets/background4.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buffer{
    margin-top: 22px;
}

.linkje{
    font-family: Marvin;
}
