.searchbar{
    background-color: #03b5aa;
    width: 250px;
    border-radius: 3px;
    border-bottom-right-radius: 24px;
    margin: 32px;
    margin-left: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 12px;
    padding-right: 21px;
    padding-left: 12px;
    padding-bottom: 8px;
    box-shadow: 4px 4px 8px #181818;

}

.button{
    background-color: #2f2f3b;
    font-family: Marvin;
    color: #FFFFFF;
    border-radius: 3px;
    border: none;
    padding: 8px;
    margin-top: 4px;
}

.zoekveld{
    padding-left: 12px;
    border-radius: 5px;
    height: 24px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 16px;
    margin: 5px;
}
