.searchbarseries{
    background-color: #ED1D24;
    width: 325px;
    border-radius: 8px;
    border-bottom-right-radius: 24px;
    margin: 15px;
    margin-left: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 12px;
    padding-bottom: 8px;
    box-shadow: 4px 4px 8px #181818;


}

.button{
    background-color: #2f2f3b;
    font-family: Marvin;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    padding: 12px;
    margin-top: 8px;
    margin-left: 8px;
    align-self: center;
}

.zoekveld{
    padding-left: 12px;
    border-radius: 6px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 21px;
    margin: 5px;
}
